* {
  box-sizing: border-box;
  margin:0;
  line-height: 1.75;
  padding:0;
}

/* Start of cities header css styling */

.title {
    background-color: #F0F8FF;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/1_toledo_spain_evening_sunset_2014.jpg/1920px-1_toledo_spain_evening_sunset_2014.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-width: thick;
    border-style: ridge;
    box-shadow: 15px 15px 15px 15px #BC8F8F;
    border-color: #BC8F8F;
    text-shadow: 6px 6px 8px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    font-style: italic;
    font-size: 28px;
    font-family: georgia;
    color:#FF4500;
    border-radius: 50px;
    opacity: 0.7;
    position:relative;
    padding-bottom: 30%;
    padding-top: 2%;
}

.title ul a {
    text-decoration: none;
    color: #FFFF00;
    text-align: center;
    text-shadow: 2px 2px 8px #FF0000;
    font-style: italic;
    font-weight: bolder;
}

.title ul li {
    flex-grow: 1;
}

.title ul li:first-child {
   flex-grow: 2;
}

.title h1 {
    text-align: right;
}

/* End of cities header css styling */


/* Below section relates to flexbox/floats, images with text in between */

h2 {
    text-align: center;
    font-family: georgia;
    font-size: xx-large;
    text-shadow: 3px 3px 8px;
}


/*Below - For Images pertaining to the cities with .floats class*/
.left {
            float: left;
            margin-right: 20px;
        }

.right {
            float: right;
            margin-left: 20px;
        }

 .clearfix::before, 
 .clearfix::after {
          content: " ";
          display: table;
        }

.clearfix::after{
            clear: both;
        }
        
.floats{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x:hidden;
    position:relative;
    padding: 38px;
    /*overflow: auto;*/
    border-radius: 50px;
    border-style: groove;
    border-width: thick;
    border-color: #BC8F8F;
    text-align: center;
    color:#8B4513;
    font-weight: bolder;
    background-color:#FFFAF0;
    opacity: 0.7;
    box-shadow: 15px 15px 15px 15px #D8BFD8;
    font-style: italic;
    font-size: medium;
    font-family: georgia;
  }
  
  .floats a {
    color: #8B4513;
    text-decoration: overline;
    font-size: x-large;
    font-weight: bolder;
  }
  
  .floats img{
      margin-top:25px;
  }

/*Above - For Images pertaining to the cities with .floats class*/


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  
  #html {
        font-size: 14px;
    }
  
  #nav { 
      float: none;
      display: block;
  }
  
}