/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    line-height: 1.75;
    box-sizing: border-box;
}

/* start of css navigation */

nav {
    text-align: center;
    color: #FF4500;
    position: fixed;
    font-family: 'Noto Serif', serif;
    background: rgba(255, 255, 224,0.11);
    width: 96vw;
    border-radius: 60px;
    z-index: 1;
}

nav ul {
display: flex;
justify-content: center; 
/*   remove bullets */
    list-style-type: none;
/*    margin: 0 auto;*/
font-size: xx-large;
font-weight:bolder;
}

nav ul li {
    flex-grow: 1;
}

nav ul li:first-child {
   flex-grow: 2;
}

nav ul a:link {
/*    remove underline */
    text-decoration: none;
    text-shadow: 2px 4px 8px #FF0000;
    color: #FF8C00;
    display: block;
    padding: 40px 0;
}

/*nav ul a:hover {*/
/*   border-bottom: 1px solid #6de3d9;*/
/*padding-bottom: 8px;    */
/*   background:#FFFFE0;*/
/*   opacity: 0.5;*/
/*}*/


/* end of css navigation */

/*Below is the css styles for the home header content*/

header {
    padding: 15%;
    background-color: #FAEBD7;
    background-image: url("https://cdn.pixabay.com/photo/2016/01/19/19/30/granada-1150325__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-width: thick;  
    border-style: ridge;
    box-shadow: 10px 10px 8px 10px #BC8F8F;
    border-color: #BC8F8F;
    text-align: center;
    border-radius: 45px;
    opacity: 0.75;
    padding-bottom: 25%;
    /*padding-top: 1px;*/
    color: #FFA500;
    font-style: italic;
    text-shadow: 2px 2px 8px #FF0000;
    font-weight: bolder;
    font-size: 29px;

     }
             
.strait {
    
    display: flex;
    justify-content: center;
    Flex-direction:column;
    overflow-x:hidden;
    /*   remove bullets */
    list-style-type: none;
    text-align: center;
    padding: 6%;
    background-color: #FFFAF0;
    border-color: #BC8F8F;
    border-width: thick;  
    border-style: ridge;
    opacity:0.7;
    box-shadow: 10px 10px 8px 10px #BC8F8F;
    border-radius: 50px;
    color:#8B4513;
    font-style: italic;
    font-weight: bolder;
        }

ul{  
    /* remove bullets */
    list-style-type: none;
}


h3{ 
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* Above is the css styles for the home header content*/

/* Below is the css styles for the home section/article of home content*/

.left {
        float: left;
        margin-right: 2%;
        margin-left: 0%;
        }

.right {
            float: right;
            margin-left: 20px;
        }
        
.clearfix::before, 
.clearfix::after {
        content: " ";
        display: table;
        }

 .clearfix::after {
        clear: both;
        }
/* Above is the css styles for the home section/article of home content*/


/* Footer for index.html page */
.footer {
    text-align: center;
    background-color: rgb(255,249,238);
    border-color: #BC8F8F;
    border-width: thick;  
    border-style: ridge;
    padding: 15px; 
    box-shadow: 15px 15px 15px 15px #BC8F8F;   
    border-radius: 30px;
    font-size: 16px;
    font-weight: bolder;
    color:#8B4513;
}

/* End of Footer for Index.html page */


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  
 #html {
        font-size: 14px;
    }
    
 #nav { 
      float: none;
      display: block;
  }
      
  
}

/* test End of Footer for blog page */